<!------------------------------------------------

Purpose: Defines the page for comparing nutrients

-------------------------------------------------->

<div class="mrgn-tp-lg">
    <div class="container foodTableContainer" id="searchSection">
        <h3 id="searchTitle"></h3>

        <fieldset class="pb-5">
            <div class="searchInputContainer row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between mb-3 gap-5">
                        <div class="form-group dropdownInputContainer" id="nutrientInputContainer" w-100 w-sm-45 mb-2 mb-sm-0>
                            <label for="nutrientInput"></label>
                            <select id="nutrientInput" multiple>
                            </select>
                        </div>

                        <div class="form-group dropdownInputContainer" id="foodGroupInputContainer" w-100 w-sm-45>
                            <label for="foodGroupInput"></label>
                            <select class="singleOptSelect" multiple data-actions-box="true" data-max-options="1" data-container="body" id="foodGroupInput">
                            </select>
                        </div>
                    </div>

                    <div class="d-flex gap-5">
                        <input type="submit" class="btn btn-primary" id="searchButton">
                        <button type="button" class="btn btn-danger" id="resetButton"></button>
                    </div>
                </div>
            </div>
        </fieldset>
        
        <div class="mrgn-tp-xl">
            <h3 id="searchResultTitle" class="border-bottom pb-4"></h3>

            <div>
                <h4 id="foodSearchInstructions" class="text-muted"></h4>

                <div class="mrgn-tp-lg">
                    <button class="btn btn-primary" id="searchCSVDownload"></button>
                </div>
                <div class="tableContainer">
                    <table id="foodSearchTable"></table>
                </div>
            </div>
        </div>

        <div class="text-right mrgn-tp-lg">
            <a href="#top">
                <span class="toTopBtnText"></span>
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </div>
    </div>
</div>