<!------------------------------------------------

Purpose: Defines the page for searching by food

-------------------------------------------------->

<div class="mrgn-tp-lg">
    <div class="container foodTableContainer" id="searchSection">
        <h3 id="searchTitle"></h3>

        <fieldset class="pb-5">
            <div class="searchInputContainer row mrgn-bttm-lg">
                <div class="form-group col-12 col-sm-6 col-lg-3" id="foodNameInputContainer">
                    <label for="foodNameInput"></label>
                    <input type="text" class="form-control" id="foodNameInput">
                </div>

                <div class="form-group dropdownInputContainer col-12 col-sm-6 col-lg-3" id="foodGroupInputContainer">
                    <label for="foodGroupInput"></label>
                    <select class="singleOptSelect form-control" id="foodGroupInput">
                    </select>
                </div>

                <div class="form-group col-12 col-sm-6 col-lg-3" id="foodCodeInputContainer">
                    <label for="foodCodeInput"></label>
                    <input type="text" class="form-control" id="foodCodeInput">
                </div>

                <div class="d-flex align-items-center gap-3 col-12 col-sm-6 col-lg-3">
                    <input type="submit" class="btn btn-primary" id="searchButton">
                    <button type="button" class="btn btn-danger" id="resetButton"></button>
                </div>
            </div>
        </fieldset>

        <div class="mrgn-tp-xl">
            <h3 id="searchResultTitle" class="border-bottom pb-4"></h3>

            <div>
                <h4 id="foodSearchInstructions" class="text-muted"></h4>

                <div class="mrgn-tp-lg">
                    <button class="btn btn-primary" id="searchCSVDownload"></button>
                </div>
                <div class="tableContainer">
                    <table id="foodSearchTable" class="clickableTable"></table>
                </div>
            </div>
        </div>

        <div class="text-right mrgn-tp-lg">
            <a href="#top">
                <span class="toTopBtnText"></span>
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </div>
    </div>

    <div class="mrgn-tp-xl d-flex justify-content-center">
        <div class="foodResultContainer foodTableContainer d-none container">
            <div class="border-top">
                <div class="mb-3" id="foodResultCard">
                    <div class="card-body cardHeader">
                        <div>
                            <h2 class="card-title" id="nutrientCardTitle"></h2>
                            <h4 class="card-title mrgn-bttm-xl" id="nutrientCardAltTitle"></h4>

                            <h4 class="card-subtitle mb-2 text-muted" id="nutrientCardFoodCode"></h3>
                            <span class="card-subtitle mb-2 text-muted" id="nutrientCardSourceText"></span>
                        </div>
                    </div>
                    <div class="card-body border-top mrgn-tp-lg cardDetails">
                        <h3 class="card-title"></h3>

                        <div class="servingSizeContainer">
                            <fieldset class="gc-chckbxrdio">
                                <ul class="list-unstyled">
                                </ul>
                            </fieldset>
                        </div>

                        <div class="servingRefuseContainer mrgn-tp-lg mrgn-bttm-lg">
                            <h5></h5>
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tableContainer mrgn-tp-lg">
                <h3 id="nutrientTableTitle"></h3>
                <div class="mrgn-bttm-lg">
                    <button class="btn btn-primary" id="nutrientCSVDownload"></button>
                    <button class="btn btn-primary" id="allNutrientCSVDownload"></button>
                </div>
                <table id="nutrientTable"></table>
            </div>

            <div class="text-right mrgn-tp-lg">
                <a href="#top">
                    <span class="toTopBtnText"></span>
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </div>
        </div>
    </div>
</div>