<!------------------------------------------------

Purpose: Defines the page for searching by food

-------------------------------------------------->

<div class="mrgn-tp-lg">
    <h3 id="searchTitle"></h3>

    <fieldset class="pb-5 border-bottom">
        <div class="searchInputContainer d-flex flex-column flex-md-row gap-3 mrgn-bttm-lg">
            <div class="form-group" id="foodNameInputContainer">
                <label for="foodNameInput"></label>
                <input type="text" class="form-control" id="foodNameInput">
            </div>

            <div class="form-group" id="foodGroupInputContainer">
                <label for="foodGroupInput"></label>
                <input type="text" class="form-control" id="foodGroupInput">
            </div>

            <div class="form-group" id="foodCodeInputContainer">
                <label for="foodCodeInput"></label>
                <input type="text" class="form-control" id="foodCodeInput">
            </div>
        </div>

        <input type="submit" class="btn btn-primary" id="searchButton">
    </fieldset>

    <div class="tableContainer mrgn-tp-lg">
        <table id="foodSearchTable"></table>
    </div>

    <div class="mrgn-tp-xl">
        <div class="foodResultContainer d-none border-top">
            <div class="mb-3" id="foodResultCard">
                <div class="card-body cardHeader">
                    <div>
                        <h2 class="card-title"></h2>
                        <h4 class="card-subtitle mb-2 text-muted"></h4>
                    </div>
                </div>
                <div class="card-body border-top mrgn-tp-lg cardDetails">
                    <h3 class="card-title mrgn-bttm-lg"></h3>

                    <div class="servingSizeContainer">
                        <fieldset class="gc-chckbxrdio">
                            <ul class="list-unstyled lst-spcd-2">
                                <li class="checkbox">
                                    <input type="checkbox" id="cond1">
                                    <label for="cond1">Ketchup</label>
                                </li>
                                <li class="checkbox">
                                    <input type="checkbox" id="cond2">
                                    <label for="cond2">Relish</label>
                                </li>
                                <li class="checkbox">
                                    <input type="checkbox" id="cond3">
                                    <label for="cond3">Mustard</label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>

                </div>
            </div>

            <div class="tableContainer mrgn-tp-lg">
                <h3 id="nutrientTableTitle"></h3>
                <table id="nutrientTable"></table>
            </div>
        </div>
    </div>
</div>