<!------------------------------------------------

Purpose: Defines the page for searching by nutrients

-------------------------------------------------->

<div class="mrgn-tp-lg">
    <div class="container foodTableContainer">
        <h3 id="searchTitle"></h3>

        <fieldset class="pb-5">
            <div class="searchInputContainer row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between mb-3 gap-5">
                        <div class="form-group dropdownInputContainer" id="nutrientInputContainer">
                            <label for="nutrientInput"></label>
                            <select id="nutrientInput" multiple>
                            </select>
                        </div>

                        <div class="form-group dropdownInputContainer" id="foodGroupInputContainer">
                            <label for="foodGroupInput"></label>
                            <select class="singleOptSelect" multiple data-actions-box="true" data-max-options="1" data-container="body" id="foodGroupInput">
                            </select>
                        </div>
                    </div>

                    <div class="d-flex gap-5">
                        <input type="submit" class="btn btn-primary" id="searchButton">
                        <button type="button" class="btn btn-danger" id="resetButton"></button>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="mrgn-tp-xl">
            <h3 id="searchResultTitle" class="border-bottom pb-4"></h3>

            <div>
                <h4 id="foodSearchInstructions" class="text-muted"></h4>
                <div class="tableContainer mrgn-tp-lg">
                    <table id="foodSearchTable"></table>
                </div>
            </div>
        </div>
    
    </div>

    <div class="mrgn-tp-xl d-flex justify-content-center">
        <div class="foodResultContainer foodTableContainer d-none container">
            <div class="border-top">
                <div class="mb-3" id="foodResultCard">
                    <div class="card-body cardHeader">
                        <div>
                            <h2 class="card-title"></h2>
                            <h4 class="card-subtitle mb-2 text-muted"></h4>
                        </div>
                    </div>
                    <div class="card-body border-top mrgn-tp-lg cardDetails">
                        <h3 class="card-title"></h3>

                        <div class="servingSizeContainer">
                            <fieldset class="gc-chckbxrdio">
                                <ul class="list-unstyled">
                                </ul>
                            </fieldset>
                        </div>

                        <div class="servingRefuseContainer mrgn-tp-lg mrgn-bttm-lg">
                            <h5></h5>
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mrgn-tp-xl">
                <h3 id="searchResultTitle" class="border-bottom pb-4"></h3>

                <div>
                    <h4 id="foodSearchInstructions" class="text-muted"></h4>
                    <div class="tableContainer mrgn-tp-lg">
                        <table id="foodSearchTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>