<!------------------------------------------------

Purpose: Defines the page for searching by food

-------------------------------------------------->

<div class="mrgn-tp-lg">
    <h3 id="searchTitle"></h3>

    <fieldset class="pb-5 border-bottom">
        <div class="form-group" id="foodNameInputContainer">
            <label for="foodNameInput"></label>
            <input type="text" class="form-control" id="foodNameInput">
        </div>

        <div class="form-group" id="foodGroupInputContainer">
            <label for="foodGroupInput"></label>
            <input type="text" class="form-control" id="foodGroupInput">
        </div>

        <div class="form-group" id="foodCodeInputContainer">
            <label for="foodCodeInput"></label>
            <input type="text" class="form-control" id="foodCodeInput">
        </div>

        <input type="submit" class="btn btn-primary" id="searchButton">
    </fieldset>

    <div class="tableContainer mrgn-tp-lg">
        <table id="foodSearchTable"></table>
    </div>
</div>